body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.board{
  background: url(../img/board.jpg) no-repeat center/cover;
  width: 800px;
  height: 800px;
  /* margin: 0 auto; */
  margin-top: 20px;
  /* display: block; */
  /* border: 10px solid #000; */
  border-radius: 20px;
}


.board .cells{
  padding:18px;
}

.board .cell{
  width:90px;
  height: 90px;
  /* outline: 2px solid red; */
  display: inline-flex;
  justify-content: center;
}

.board .row .cell{
  /* background: rgba(255,0,0,0.3); */
  width:82px;
  height: 156px;
}
.board .row .Special{
 width:160px;
}

.board .cell{
  width: 83px;
  height:87px;
}
.board .middle .column{
  width: 157px;
}
.board .middle .ha{
  height:86px;
}

.board .btn:active{
  background: rgba(0,0,0,0.1);
}

.gameoverbox{
  border: 3px solid #000;
  background: #000;
  width: 1145px;
  height: 795px;
  position: absolute;
  z-index: -9999;
  opacity: 0.8;
  margin-top: 20px;
  border-radius: 20px;
}
.gameoverbox p{
  color: #fff;
  align-content: center;
  text-align: center;
  padding-top: 370px;
  font-size: 28px;
  
}