

.board{
  background: url(../board/img/board.jpg) no-repeat center/cover;
  width:700px;
  height: 700px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}


.board .cells{
  padding:17px;
}

.board .cell{
  width:90px;
  height: 90px;
  /* outline: 2px solid red; */
  display: inline-flex;
  justify-content: center;
}

.board .row .cell{
  /* background: rgba(255,0,0,0.3); */
  width:72px;
  height: 135px;
}
.board .row .Special{
 width:135px;
}

.board .cell{
  width: 72px;
  height:78px;
}
.board .middle .column{
  width: 135px;
}
.board .middle .ha{
  height:73px;
}

.board .btn:active{
  background: rgba(0,0,0,0.1);
}